<div class="row">
    <div class="col-md-12">
        <p>Fetch a valid access_token and id at the <a href="https://developers.facebook.com/tools/explorer/145634995501895/?method=GET&path=me%3Ffields%3Did%2Cname&version=v2.0">Facebook Graph console</a></p>
    </div>
</div>

{{#if loggedIn}}
    <div class="row">
        <div class="col-md-12">
            <p>Successfully Logged In</p>
            <p>{{username}} {{loginMessage}}</p>
        </div>
    </div>

{{else}}
    <form>
    <div class="row">
        <div class="col-md-2">
            <label for="accessToken">Access Token</label>
        </div>
        <div class="col-md-10">
            {{input value=accessToken id="accessToken" placeholder="a29gg2"}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label for="facebookUid">Facebook Uid</label>
        </div>
        <div class="col-md-10">
            {{input value=password id="password"}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <button {{action "login"}}>Login</button>
        </div>
    </div>

    {{#if loginMessage}}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <p>{{loginMessage}}</p>
            </div>
        </div>
    {{/if}}

    </form>
{{/if}}