{{#if loggedIn}}
    <div class="row">
        <div class="col-md-12">
            <p>Successfully Signed Up</p>
            <p>{{username}} {{loginMessage}}</p>
        </div>
    </div>

{{else}}
    <form>
    <div class="row">
        <div class="col-md-2">
            <label for="username">Username</label>
        </div>
        <div class="col-md-10">
            {{input value=username id="username" placeholder="happydev"}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label for="password">Password</label>
        </div>
        <div class="col-md-10">
            {{input value=password id="password"}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label for="email">Email</label>
        </div>
        <div class="col-md-10">
            {{input value=email id="email" placeholder="happydev@happyco.com"}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <button {{action "signup"}}>Sign Up</button>
        </div>
    </div>

    {{#if loginMessage}}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <p>{{loginMessage}}</p>
            </div>
        </div>
    {{/if}}

    </form>
{{/if}}
