<form>
<div class="row">
    <div class="col-md-2">
        <label for="firstName">Name</label>
    </div>
    <div class="col-md-10">
        {{input name="simple" value=name placeholder="Simple Object"}} <button {{action 'save'}}>Save</button>
    </div>
</div>
</form>

<br>
{{#if succeeded}}
    <div class="row">
        <div class="col-md-12">
            Successfully saved Simple Model <button {{action 'reset'}}>Reset</button>
        </div>
    </div>
{{/if}}

{{#if lastSavedModel}}
    <div class="row">
        <div class="col-md-12">
            <p>id: {{lastSavedModel.id}}</p>
            <p>Name: {{lastSavedModel.name}}</p>
            <p>Created At: {{lastSavedModel.createdAt}}</p>
        </div>
    </div>
{{/if}}